<ion-header>
  <ion-toolbar>
    <ion-title>S&P 500</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Daily P&L and Positions Display -->
  <div class="stats-container">
    <h3>Realized P&L: {{ dailyProfitLoss | number:'1.2-2' }}</h3>
    <h3># of Orders: {{ positionsTaken }}</h3>
  </div>

  <!-- Current Bar Information -->
  <div class="current-bar-container" *ngIf="currentBarIndex >= 0">
    <h2>Current Bar</h2>
    <p>
      {{ marketData[currentBarIndex].time }} - Open: {{
      marketData[currentBarIndex].open }}, High: {{
      marketData[currentBarIndex].high }}, Low: {{
      marketData[currentBarIndex].low }}, Close: {{
      marketData[currentBarIndex].close }}
    </p>
  </div>

  <!-- Button Container -->
  <div class="button-container">
    <ion-button
      expand="block"
      (click)="nextBar()"
      [disabled]="currentBarIndex >= marketData.length - 1"
      >Next Bar</ion-button
    >
  </div>

  <!-- Position Action Buttons using Ionic Grid -->
  <ion-grid class="position-action-grid">
    <ion-row class="position-action-row">
      <ion-col>
        <ion-button
          color="success"
          expand="block"
          (click)="enterLong()"
          [disabled]="hasOpenPosition"
          >Long</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          color="danger"
          expand="block"
          (click)="enterShort()"
          [disabled]="hasOpenPosition"
          >Short</ion-button
        >
      </ion-col>
      <ion-col>
        <ion-button
          expand="block"
          (click)="exitPosition()"
          [disabled]="!hasOpenPosition"
          >Exit</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
