:root {
  --padding-size: 1.5%;
  --font-size: 1rem;
  --margin-size: 2%;
}

// remove scrolling
ion-content::part(scroll) {
  overflow-y: hidden; /* Removes vertical scroll */
  overflow-x: hidden; /* Removes horizontal scroll if needed */
  display: flex;
  flex-direction: column;
  padding-top: 1% !important;
  padding-bottom: 1% !important
}


/* Stats Grid */
.stats-grid {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;   
  flex-grow: 0;

  ion-row ion-col {
      padding: 0;
  
  }
}

.chart-grid {
  padding: 0;
  flex-grow: 1;
  margin: 0;
  height: auto;

  ion-row {
    height: 100%;
  }
}

.chart-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
}


.order-info-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.order-info-label {
  width: 150px;
}

.footer-grid {
  padding-top: 0;
}