:root {
  --padding-size: 1.5%;
  --font-size: 1rem;
  --margin-size: 2%;
}


ion-content::part(scroll) {
  overflow-y: hidden; 
  overflow-x: hidden; 
  display: flex;
  flex-direction: column;
  padding-top: 1% !important;
  padding-bottom: 1% !important
}


/* Stats Grid */
.stats-grid {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;   
  flex-grow: 0;

  ion-row ion-col {
      padding: 0;
  
  }
}

.chart-grid {
  padding: 0;
  flex-grow: 1;
  margin: 0;
  height: calc(100% - 150px); /* Adjust to account for the header and footer */

  ion-row {
    height: 100%;
  }
}

.chart-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
}


.order-info-col {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 1.1rem;
}

.order-info-label {
  width: auto; 
  margin-left: 5px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}


.footer-grid {
  padding-top: 0;
}



.action-button:disabled {
  opacity: 0.4; /* Lower opacity for disabled state */
  pointer-events: none; /* Ensure disabled buttons are non-interactive */
}

ion-button::part(native) {
  color: white !important;
}




